.box{
	width: 400px;
	border-right:2px solid rgb(245,245,245);
	border-top:2px solid rgb(245,245,245);
	margin:auto;

}

.box-1{
	width: 400px;
	height:40px;
}
.head{
	box-sizing: border-box;
	float:left;
	width: 80px;
	height:40px;
	line-height: 40px;
	text-align:center;
	font-family:"微软雅黑";
	background: rgb(247,247,247);
	border-bottom: 2px solid rgb(245,245,245);
}
.head1{
	box-sizing: border-box;
	float:left;
	width: 80px;
	height:40px;
	line-height: 40px;
	text-align:center;
	font-weight: bold;
	border-left: 2px solid rgb(245,245,245);
	border-right: 2px solid rgb(245,245,245);
}
.box-2{
	width: 400px;
	height: 110px;
	overflow:hidden;
	border-bottom: 2px solid rgb(245,245,245);
	border-left: 2px solid rgb(245,245,245);
}
.box-2-1{
	width: 360px;
	height:25px;
	margin-left:15px;
	margin-top:20px;
	border:1px solid rgb(120,120,120);
}
.box-2-2{
	width: 360px;
	height:25px;
	margin-left:15px;
	margin-top: 10px;
	border:1px solid rgb(120,120,120);
}
.box-3{
	width: 400px;
	height: 165px;
	overflow: hidden;
	top:10px;
	border-bottom: 2px solid rgb(245,245,245);
	border-left: 2px solid rgb(245,245,245);
}
.box-3-1{
	width: 400px;
	height: 100px;
	overflow: hidden;
	margin-top: 10px;
	margin-left: 15px;
}
.box-3-1-1{
	width:90px;
	height:90px;
	background:rgb(255,68,0);
	float:left;
}
.box-3-1-2{
	width: 255px;
	height:25px;
	margin-left:10px;
	margin-top:10px;
	float:left;
	border: 1px solid rgb(120,120,120);
}
.box-3-2{
	width:400px;
	height:50px;
}
.box-3-2-1{
	width: 120px;
	height: 35px;
	float:left;
	margin-left:20px;
	color: white;
	text-align: center;
	border-radius:2px;
	line-height: 35px;
	font-family:"微软雅黑";
	background:rgb(255,68,0);
	transition:all 0.5s ease;
}
.box-3-2-2{
	width: 110px;
	height: 35px;
	float:left;
	margin-left:10px;
	color: white;
	text-align: center;
	border-radius:2px;
	line-height: 35px;
	background:rgb(255,68,0);
	transition:all 0.5s ease;
}
.box-4{
	width: 400px;
	height:60px;
	overflow: hidden;
	border-bottom: 2px solid rgb(245,245,245);
	border-left: 2px solid rgb(245,245,245);
}
.box-4-1{
	width: 360px;
	height:25px;
	margin:15px;
	border:1px solid rgb(120,120,120)
}
.box-5{
	width: 400px;
	height: 300px;
}
.box-5-1{
	box-sizing: border-box;
	width: 160px;
	height: 200px;
	text-align: center;
	float: left;
	color:rgb(144,144,144);
	font-family:"微软雅黑";
	border-bottom: 2px solid rgb(245,245,245);
	border-left: 2px solid rgb(245,245,245);
}
.box-5-2{
	box-sizing: border-box;
	width: 80px;
	height: 100px;
	text-align: center;
	float: left;
	color: rgb(144,144,144);
	font-family:"微软雅黑";
	border-left:1px solid rgb(245,245,245);
	border-bottom:1px solid rgb(245,245,245);
}
.box-5-2-1{
	width:35%;
	height:45%;
	margin:auto;
	margin-top:25%;
	margin-bottom: 10%;
	background:rgb(255,68,0);
}

.box-5-2-2{
	width: 60%;
	height: 50%;
	margin: 10% auto;
	margin-top: 15%;
	background:rgb(255,68,0);
}